#null{
    height: 200px;
    width: 100%;
}


.avatar{
    width: 253px;
    height: 253px;
    border-radius: 50%;
    /* border: #FACA0F 1px solid; */
    background-color: gray;
}

#member_1{
    background-image: url(../img/teams/hsu_avatar.png);
    background-size: 253px;
    background-position: center;
    transition: all .2s ease-in-out;
}


#member_1:hover{
    background-size: 110%;
    cursor: pointer;
    transform: all ;
}


#member_2{
    background-image: url(../img/teams/kao_avatar.png);
    background-size: 253px;
    background-position: center;
    transition: all .2s ease-in-out;
}


#member_2:hover{
    background-size: 110%;
    cursor: pointer;
    transform: all ;
}


#member_3{
    background-image: url(../img/teams/chou_avatar.jpeg);
    background-size: 253px;
    background-position: center;
    transition: all .2s ease-in-out;
}


#member_3:hover{
    background-size: 110%;
    cursor: pointer;
    transform: all ;
}

#member_4{
    background-image: url(../img/teams/chang_avatar.jpeg);
    background-size: 253px;
    background-position: center;
    transition: all .2s ease-in-out;
}


#member_4:hover{
    background-size: 110%;
    cursor: pointer;
    transform: all ;
}



#team_title{
    margin-bottom: 135px;
}
.team_member{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job_social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.team_member p{
    text-align:justify; 
}


.fab{
    font-size: 35px;
    color: #FACA0F;
    margin-left: 15px;
}
.fab:hover{
    color: #000000;
    cursor: pointer;
}


/*#region Footer_yellow_bg*/

/* 頁尾 */
#footer{
    background-color: #FACA0F;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#footer #app_store{
    height: 40px;
}
#footer .fab{
    font-size: 35px;
    color: #ffffff;
    margin-left: 15px;
}
#footer .fab:hover{
    color: #000000;
    cursor: pointer;
}


#footer_line{
    background-color: #ffffff;
    height: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer_line_2{
    width: 2px;
    height: 100%;
    background-color: #ffffff;
    margin-left: 2%;
    margin-right: 2%;
}

#footer .align_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


#footer p{
    color: #ffffff;
    font-size: 18px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    margin-bottom: 0;
}


/*#endregion Footer_yellow_bg*/